*
{
    padding: 0%;
    margin: 0%;
}

body
{
    background-color: #fefcf7;
    padding: 20px;
}

.header
{
    display: flex;
    justify-content: space-between;
    background-color: #fefcf7;
    align-items: center;
    padding: 20px;
}


.name
{
    font-family: fantasy;
    font-size: 30px;
    color: #2c343e;
}

.sites
{
    text-decoration: none; 
    color: #2c343e;
    font-family: fantasy;
    padding-left: 20px;
}

.sites:hover
{
    color: rgb(82, 160, 177);
}

.intro
{
    height: 80%;
    width: 60%;
    padding-top: 10px;
    border-radius: 10px;
    background: url(./coffee_box.jfif) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.title
{
    font-family: "Fraunces",serif;
    font-size: 50px;
    line-height: 40px;
    display: flex;
    text-align: center;
    letter-spacing: normal;
    color: white;
    padding-top: 70px;
    padding-left: 40px;
}

.t2
{
    font-family: "Fraunces",serif;
    font-size: 50px;
    line-height: 40px;
    display: flex;
    text-align: center;
    letter-spacing: normal;
    color: white;
    padding-top: 10px;
    padding-left: 40px;
}

.desc
{
    font-family: "Fraunces",serif;
    letter-spacing: normal;
    display: flex;
    text-align: left;
    color: white;
    padding-top: 40px;
    padding-left: 40px; 
    font-size: 20px;
    height: 100px;
    width: 50%;
}

.btn
{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fraunces",serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: normal;
    background: #0e8784;
    border-radius: 6px;
    height: 56px;
    width: 190px;
    margin-top: 40px;
    margin-left: 40px;
    color: white;
}

.col
{
    font-family: "Fraunces",serif;
    font-weight: 900;
    font-size: 100px;
    line-height: 70px;
    text-align: center;
    color: #83888f;
    padding: 30px;
    position: relative;
}

.types
{
    display: flex;
    flex-direction: columns;
    width: 100%;
}

.coff
{
    width: 250px;
    text-align: center;
    padding: 30px;
}

.img_coffee
{
    width: 255px;
    height: 190px;
}

.coff_t
{
    font-family: "Fraunces",serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: normal;
    color: #333d4b;
}

.coff_info
{
    font-size: 15px;
    line-height: 25px;
    letter-spacing: normal;
    text-align: center;
    color: #83888f;
}

.choose
{
    height: 500px;
    width: 90%;
    padding-top: 40px;
    border-radius: 10px;
    background-color: #2c343e;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.t3
{
    font-family: "Fraunces",serif;
    font-size: 50px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    text-align: center;
    letter-spacing: normal;
    color: white;
    padding-top: 20px;
    padding-left: 35%;
    /* background-color: #0e8784; */
}

.why
{
    font-family: "Fraunces",serif;
    letter-spacing: normal;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-left: 25%;
    align-items: center; 
    font-size: 18px;
    height: 100px;
    width: 50%;
}

.box
{
    width: 500px;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e8784;
}